<div class="row">
    <section class="about-me line col-md-12 padding_30 padbot_45">
    <div class="section-title">
        <span></span>
        <h2>About Me</h2>
    </div>
    <p class="top_30">
        I am know as a passionate professional with multiple broad technical skill sets. Known for ability to complete multiple roles on a team, to help meet or define requirement and quality standards as needed. From my time consulting to working for private companies I have taken parts in all sides of software development from requirements gathering directly from the client to working on a multi-role team of developers, testers, product owners and designers.
        <br/>
        <br/>
        More recently I have been focusing specificly in front-end development using the Angular framework. Most recently designing and architecting module components that are completely driven by metadata provided from the backend to build web pages and forms.
    </p>
</section>
</div>
