<div class="working-history">
    <ul class="timeline col-md-12 top_30">
        <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Certification History</h2></li>
        <!-- a work -->
        <li><h3 class="line-title">Certified SAFe 4 Practitioner</h3>
            <span>2019 - Present</span>
            <!-- <p class="little-text"></p> -->
        </li>
       <!-- a work -->
        <li><h3 class="line-title">Microsoft Certified Professional</h3>
            <span>2013 - Present</span>
            <p class="little-text">Microsoft Certified Solutions Associate: Web Applications Charter Member 2016 - Present</p>
            <p class="little-text">Microsoft Certified Solutions Developer: Web Applications 2013 - 2016</p>
        </li>
       <!-- a work -->
        <li><h3 class="line-title-long">Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3</h3>
            <span>2013 - Present</span>
            <!-- <p class="little-text"></p> -->
        </li>
    </ul>
</div>
