<div class="row">
    <section class="services line graybg col-md-12 padding_50 padbot_50">
    <div class="section-title bottom_45"><span></span><h2>My Achievements</h2></div>
    <div class="row">
        <!-- a service -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service">
                <div class="icon">
                        <i class="fa fa-code" aria-hidden="true"></i>
                </div>
                <span class="title">Software Development</span>
                <p class="little-text">I have been working in software development for 8 years.</p>
            </div>
        </div>
        <!-- a service -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service">
                <div class="icon">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="title">Architecture</span>
                <p class="little-text">Designed architecture of modular angular components that are driven by model metadata.</p>
            </div>
        </div>
        <!-- a service -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service">
                <div class="icon">
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                </div>
                <span class="title">Release</span>
                <p class="little-text">I facilitated interactions among multiple teams to allow for a flawless 1.0.0 release of a new system.</p>
            </div>
        </div>
        <!-- a service -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service">
                <div class="icon">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                </div>
                <span class="title">Open source</span>
                <p class="little-text">I try to give back to the open source community when I can.</p>
            </div>
        </div>
    </div>
</section>
</div>
