<div id="resume" class="active" style="display: block;">
    <!-- Resume Section -->
    <div class="row">
        <section class="education">
        <div class="section-title top_30"><span></span><h2>Resume</h2></div>
            <div class="row">
                <div class="col-md-6 padding_15 padbot_30">
                    <!-- Working History -->
                    <jlr-work-history></jlr-work-history>
                </div>
                <div class="col-md-6 padding_15 padbot_30">
                    <!-- Education History -->
                    <jlr-certification-history></jlr-certification-history>
                </div>
            </div>
        </section>
    </div>
</div>
