<div class="profile">
    <div class="profile-name">
        <span class="name">Jeremy Reed</span><br>
        <span class="job">Father, Engineer, Gamer</span>
    </div>
    <figure class="profile-image">
        <img src="/assets/images/profile.jpg" alt="">
    </figure>
    <ul class="profile-information">
        <li></li>
        <li><p><span>Name:</span> Jeremy Reed</p></li>
        <li><p><span>Birthday:</span> 29 January 1991</p></li>
        <li><p><span>Job:</span> Senior Front-End Engineer</p></li>
        <li><p><span>Email:</span> JReed129@gmail.com</p></li>
    </ul>
    <div class="social-icons">
        <a class="fb" href="https://www.linkedin.com/in/jr33d/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <!-- <a class="tw" href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a class="ins" href="#">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a> -->
        <a class="git" href="https://github.com/JR33D" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/JR33D/build-jr33d.io/raw/v2/src/assets/Reed_Resume.pdf" class="site-btn icon">Download Cv <i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>
