<div class="working-history">
    <ul class="timeline col-md-12 top_30">
        <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
        <!-- a work -->
        <li><h3 class="line-title">Front-End Engineer - Pearson (Virtual Schooling)</h3>
            <span>2020 - Present</span>
            <p class="little-text">Migrated old system from TFS to ADO to improve developer workflow and update application.</p>
        </li>
        <!-- a work -->
        <li><h3 class="line-title">Senior Front-End Engineer - FEI Systems</h3>
            <span>2018 - 2020</span>
            <p class="little-text">Architected front-end framework for new system for medicare and medicaid systems across states.</p>
        </li>
       <!-- a work -->
        <li><h3 class="line-title-long">Software Engineer II - Pearson Online & Blended Learning (formerly Connections Education)</h3>
            <span>2014 - 2017</span>
            <p class="little-text">Maintained existing online schooling platform for hundreds of thousands of students.</p>
        </li>
       <!-- a work -->
        <li><h3 class="line-title-long">Developer II - Catalyte (formerly Catalyst IT Services)</h3>
            <span>2011 - 2014</span>
            <p class="little-text">Consulted for various projects from fortune 500 companies to Mom and Pop business just getting off the ground.</p>
        </li>
    </ul>
</div>
